[defaults]
remote_user = ansible
host_key_checking = false
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
library = library
gather_facts = true
interpreter_python = /usr/bin/python3
log_path = /var/log/ansible.log
deprecation_warnings = False
vault_password_file = .vault.pass

[connection]
#pipelining = true

[ssh_connection]
#pipelining = true

[hashi_vault_collection]
ca_cert = /usr/share/ca-certificates/ca.crt
url = https://vault.loremxd:8200
